@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PoppinsBlack';
    src: url('./assets/fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'PoppinsBold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}